In [31]:
import itertools
from itertools import chain


import openpyxl
import pandas as pd
import numpy as np

Antes que nada, se debe pasar de la extension .xls a .xlsx (Excel Workbook) y eliminar las viñetas que no correspondan a los días de reporte.

In [32]:
wb = openpyxl.load_workbook(filename = '/Users/josealbertomurcia/Documents/Reportes Lab/11. REPORTE DE TRATADORES Y TANQUES 2023 NOVIEMBRE.xlsx')

sheets = wb.sheetnames

A continuacion Realizamos la extraccion de data de los tanques

In [33]:
cols = ['F', 'J', 'K', 'O', 'P', 'Q', 'U', 'V']
resultados = {'F18': 'AET-7471', 'F19': 'AET-7472', 'F20': 'AET-7473', 'F21': 'AET-7474', 'F23': 'AET-7475', 'F24': 'AET-7476',
                'F29': 'TK-02B', 'F30': 'TK-02D', 'F31': 'TK-02E'}

df = pd.DataFrame(data={'dia': range(1, len(sheets) + 1)})


for col_suffix in range(18, 32):

    if col_suffix in [22, 25, 26, 27, 28]:
        continue
    
    promedio_num = []

    for sheet in sheets:
        data = wb[sheet]
        col_names = [f'{col}{col_suffix}' for col in cols]

        valores1 = []

        for col_name in col_names:
            valor = data[col_name].value
            #print(valor)
            valores1.append(valor)

        valores_filtrados = [v for v in valores1 if isinstance(v, (int, float))]

        if valores_filtrados:
            promedio = np.mean(valores_filtrados)
            #print(f'El promedio de los valores es: {promedio}')
        else:
            print('No hay valores numéricos en la lista.')

        promedio_num.append(promedio)

    col_resultado = resultados[col_names[0]]
    df[col_resultado] = pd.Series(promedio_num)
print(df)

    dia  AET-7471  AET-7472  AET-7473  AET-7474  AET-7475  AET-7476  TK-02B  \
0     1  0.837500  0.614286  0.614286  0.662500    0.8500    0.8250   3.825
1     2  0.587500  0.500000  0.587500  0.750000    0.7125    0.7500   4.650
2     3  0.642857  0.587500  0.637500  0.675000    0.6625    0.7125   8.000
3     4  0.600000  0.642857  1.042857  1.042857    0.8625    0.9750   9.375
4     5  1.787500  0.942857  0.575000  0.562500    0.7375    0.9375  10.500
5     6  0.875000  0.771429  0.525000  0.637500    0.6625    0.8750  11.000
6     7  0.550000  0.537500  0.500000  0.537500    0.6250    0.7125  10.000
7     8  0.600000  0.587500  0.500000  0.537500    0.5125    0.6000   9.750
8     9  0.612500  0.687500  0.525000  0.650000    0.6625    0.7500  11.000
9    10  0.700000  0.687500  0.825000  0.762500    0.7625    0.8000   9.750
10   11  0.625000  0.712500  0.837500  0.712500    0.7500    1.6750   9.000
11   12  0.775000  0.737500  0.750000  0.700000    0.7875    0.8000  10.500
12   13  0.662500  0.725000  0.750000  0.737500    0.7375    0.7250  10.000
13   14  0.687500  0.587500  0.562500  0.850000    0.6375    0.6250   9.250
14   15  0.587500  0.662500  0.725000  0.500000    0.6750    0.6625   9.750
15   16  0.712500  0.687500  0.662500  0.825000    0.8000    0.7625   9.500
16   17  0.600000  0.662500  0.587500  0.737500    0.6625    0.6750   9.000
17   18  0.500000  0.562500  0.562500  0.637500    0.7375    0.8250   8.500
18   19  0.837500  0.762500  0.762500  0.825000    0.9250    1.0000   8.250
19   20  0.737500  0.675000  0.650000  0.750000    0.9125    0.7375   9.750
20   21  0.862500  0.871429  0.800000  0.837500    1.0000    0.9000  12.000
21   22  0.575000  0.575000  0.750000  1.450000    0.9625    0.9500  10.250
22   23  0.825000  0.725000  0.762500  0.862500    1.3500    1.7250  10.250
23   24  1.587500  1.550000  1.612500  1.137500    1.8750    2.1500   9.250
24   25  1.750000  1.412500  1.600000  1.500000    1.5875    1.7875   8.500
25   26  1.825000  1.825000  2.000000  1.825000    1.9000    2.0250   8.875
26   27  1.775000  1.475000  1.950000  1.600000    1.9000    1.7750   9.500
27   28  1.525000  1.312500  1.375000  0.912500    1.1625    1.1000   8.875
28   29  1.600000  1.275000  1.250000  1.375000    1.4625    1.4375   7.250
29   30  1.062500  1.125000  0.925000  0.900000    0.8375    1.0000  10.250
30   31  1.087500  1.171429  1.050000  0.987500    0.8875    1.0125   8.750
31   32  1.025000  1.187500  1.175000  0.937500    1.1250    0.9875   8.250
32   33  0.962500  0.925000  1.000000  0.862500    0.9250    0.9250   8.750

    TK-02D    TK-02E
0   0.8500  0.900000
1   1.5750  0.925000
2   2.2750  1.000000
3   2.3250  0.942857
4   1.9750  0.900000
5   1.7500  0.862500
6   1.8750  0.928571
7   1.7500  1.025000
8   2.2000  1.487500
9   2.2750  1.275000
10  3.1250  1.087500
11  1.8000  0.900000
12  2.2500  0.875000
13  1.8000  1.075000
14  1.9750  1.125000
15  2.0250  1.000000
16  1.9500  0.812500
17  1.7750  0.712500
18  1.5500  0.850000
19  2.0750  1.025000
20  1.5250  0.925000
21  1.3750  0.850000
22  1.0750  0.637500
23  1.3750  0.662500
24  1.2875  0.700000
25  1.2000  0.662500
26  2.0250  0.762500
27  2.2000  0.850000
28  2.0500  0.900000
29  1.1625  0.875000
30  1.2375  0.862500
31  1.4625  1.025000
32  1.0750  0.750000

In [34]:
# Se guarda en .csv file el dataframe consolidado del mes

df.to_csv('consolidado_crudo_nov.csv', index=False, encoding='utf-8')

In [35]:
### Asignacion fechas para los datasets

dir = "consolidado_crudo_nov.csv"
fecha_inicio = '11/1/2023'
df = pd.read_csv(dir)

In [36]:
df = df.drop('dia', axis= 1)
print(len(df))

33

In [37]:
df.insert(
    loc=0,
    column='date',
    value=pd.date_range(start=fecha_inicio, periods=len(df), freq='D')
)

In [38]:
df = df.set_index('date')
df.head()

,AET-7471,AET-7472,AET-7473,AET-7474,AET-7475,AET-7476,TK-02B,TK-02D,TK-02E
date,,,,,,,,,
2023-11-01,0.837500,0.614286,0.614286,0.662500,0.8500,0.8250,3.825,0.850,0.900000
2023-11-02,0.587500,0.500000,0.587500,0.750000,0.7125,0.7500,4.650,1.575,0.925000
2023-11-03,0.642857,0.587500,0.637500,0.675000,0.6625,0.7125,8.000,2.275,1.000000
2023-11-04,0.600000,0.642857,1.042857,1.042857,0.8625,0.9750,9.375,2.325,0.942857
2023-11-05,1.787500,0.942857,0.575000,0.562500,0.7375,0.9375,10.500,1.975,0.900000

In [39]:
# Se guarda en .csv file la data que graficaremos

df.to_csv('tks_nov.csv', index=True, encoding='utf-8')